<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

<title>Prompt to Model Experimental Testbed</title>
</head>
<body>
    <div id="app">
        <div>
            <h1> Instructions</h1>
            <hr />
            <div class="InstructionInfo">
                <p> You will see a prompt below asking you to design an app. Design an object-oriented model as if you were creating the app. </p>
                <ol>
                    <li> First, list the objects you would need </li>
                    <li> For each object, list the attributes (fields) for that object </li>
                    <li> For each attribute (field), list its type. Types may be primitives (int, boolean, float, string, datetime), other objects you've defined, or lists of either. </li>
                </ol>
                <p> Note that you do not need to list the methods of each object. There is no correct answer. An example is shown below:</p>
            </div>

            <hr />
            <div class="ExampleInfo">
                <h2> <u> Example Prompt </u> </h2>

                <h2> I want a classroom management app that tracks students, the assignments they've submitted, and the grades they've earned on those assignments. </h2>

                <p> The following shows one of many possible object-oriented models that matches the above prompt: </p>
                <ul>
                    <li> Notice that in the <i>student</i> object, the types of the <i>teacher, assignments, </i> and <i> submissions </i> fields all reference other objects. </li>
                    <li> In the <i> student </i> object, notice that the type of the <i>assignments</i> field is a list (as students have multiple assignments). </li>
                </ul>
              </div>
              <div class="ExampleInfoImage">
                  <img src="sample.png" alt="classroom management app schema" style="width:75%">
            </div>
        </div>

        <hr />
        <h1>
          <u> Prompt </u>
        </h1>
        <div class="InstructionInfo">
          <h1 class="PromptText">{{ selectedPrompt }} </h1>
        </div>

      <hr />

        <br>
        <p class="buttondiv"> <button v-on:click="addTable" class="addtable"> Add Object </button> </p>
        <br>
        <div class="table-container">
        <div v-for="(table, tableIndex) in items" class="center">
            <div class="headerbuttondiv">
                <button v-if="table.edit" v-on:click="addField(tableIndex)" class="headerbuttons">Add Row (Attribute)</button>
                <button v-if="!table.edit" v-on:click="editTable(tableIndex)" class="headerbuttons">Edit Object</button>
                <button v-if="table.edit" v-on:click="saveTable(tableIndex)" class="headerbuttons">Save Object</button>
            </div>

            <table>
                <tr> 
                    <th colspan=2>
                        <div v-if=table.edit>
                            <input type="text" v-model="table.tableName" placeholder="object name (eg, students)"> </input>
                            <button v-on:click="deleteTable(tableIndex)" class="removetable">Remove Object</button>
                        </div>
                        <div v-else class="tableheader">
                             {{ table.tableName }}
                             <button v-on:click="deleteTable(tableIndex)" class="removetable">Remove Object</button>
                        </div>
                    </th>
                </tr>

                <tr v-for="(field, fieldIndex) in table.fields">
                    <td v-if=table.edit>
                        <input type="text" v-model="field.fieldName" placeholder="attribute name"> </input>
                    </td>
                    <td v-else style="text-align:left" class="fieldtext">
                        {{ field.fieldName }}
                    </td>

                    <td v-if=table.edit>
                        <input type="text" v-model="field.fieldType" placeholder="attribute type"> </input>
                        <button v-on:click="deleteField(tableIndex, fieldIndex)" class="tablebuttons">x</button>
                    </td>
                    <td v-else style="text-align:right" class="fieldtext">
                        {{ field.fieldType}}
                    </td>
                </tr>
            </table>
        </div>
        </div>
        <p class="buttondiv"> <button v-if="!submitted" v-on:click="editAll()" class="submitbutton">Edit All</button>  <button v-if="!submitted" v-on:click="saveAll()" class="submitbutton">Save All</button> </p>
        <br>
        <p class="buttondiv"> <button v-if="!submitted" v-on:click="submitAll()" class="submitbutton">Submit</button> </p>
        <h1 v-if="!submitted"> Remember to save all objects and hit submit when you're done! </h1>
        <h1 v-if=submitted> Thanks! Please help us out by doing another one! </h1>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>