html {
    font-family: "Helvetica", sans-serif;
    background-color: hsl(0, 0%, 100%);
}
  
p {
    font-size: 20px;
    color: #1f1f1f;
}
  
ul {
    font-size: 20px;
    list-style-position: inside;
}

ol {
    font-size: 20px;
    list-style-position: inside;
}


.InstructionInfo {
    text-align: center;
    /* display: flex; */
    justify-content: center;
}

.InstructionList {
    max-width: 1000px;
    text-align: left;
    /* display: flex; */
    justify-content: center;
}
  
hr {
    border-top: 1px solid #1f1f1f;
}
  
.ExampleInfo {
  /* display: flex; */
  /* flex-direction: row; */
  text-align: center;
  justify-content: center;
  gap: 10px;
}

.ExampleInfoImage {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.ExampleInfoImage img {
  height: auto;
  /* width: 300px; */
}
h1 {
  text-align: center;
}

h2 { 
  text-align: center;
}
/* .container {
  text-align: center;
  width: 25%;
} */
  
table {
  font-family: arial, sans-serif;
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}
  
td {
  /* border: 1px solid #22bb37; */
  text-align: center;
  /* padding: 4px; */
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #e0dee7;
}

th {
  /* border: 1px solid #bd1010; */
  text-align: center;
  /* padding: 8px; */
  background-color: hsla(236, 76%, 69%, 0.699);
  height: 50px;
}

input {
  width: 50%;
}
.PromptText {
  font-size: 24px;
  padding-bottom: 15px;
}


.buttondiv {
  font-size: 99px;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.headerbuttondiv {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: space-evenly;
  /* align-items: center; */
  /* align-content: center; */
}

.headerbuttons{
  /* height: 30px; */
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}


.tablebuttons {
  text-align: center;

}

.removetable {
  vertical-align: middle;
  margin-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

.addtable {
  width: 270px;
  height: 50px;
  border: none;
  outline: none;
  background: #161f9c;
  color: #fff;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.submitbutton{
    width: 270px;
    height: 50px;
    border: none;
    outline: none;
    background: #161f9c;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding-left: 10px;
    margin-left: 10px;
}

.center {
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 30%;
  background-color: #e0dee7;
  margin-left: 40px;
  margin-bottom: 50px;
}

.table-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.tableheader {
  font-size: 30px;
}

.fieldtext {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;

}